<!DOCTYPE html>
<html lang="en" >
	<meta charset="utf-8"/>
	
	<script type="text/javascript">
		var isBrowserSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
		console.log(isBrowserSafari);
	</script>
		
	<head>
		<title>Draw ASR Network</title>
		<!-- Javascripte Online -->
		<!--
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<script type="text/javascript" src="https://visjs.github.io/vis-network/dist/vis-network.min.js" ></script>	  
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">
		<script type="text/javascript" src="https://visjs.github.io/vis-network/dist/vis-network.min.js" ></script>
		--- USED FOR PROTOTYPING -->

		<script lang="javascript" src="javascript/vue.js"></script> <!-- devel version --> <!-- for production use vue.min.js -->
		<script lang="javascript" src="javascript/vis-network.min.js"></script>
		<script lang="javascript" src="javascript/vis.min.js"></script>
		<script lang="javascript" src="javascript/vue-treeselect.umd.min.js"></script>

		<link rel="stylesheet" type="text/css" href="styles/mobps.css">
		<link rel="stylesheet" type="text/css" href="styles/vis.min.css">
		<link rel="stylesheet" type="text/css" href="styles/vue-treeselect.min.css">

	</head>

	<body onload="init();">

		
		
	<div id='mainDiv'>
		<h2> Simulation Network Designer </h2> 
		
		<div id="main">

			<div id="General_Info" v-on:click="show_info ='general'" onchange="checkEverything(this.id)">
					<h3> Genome</h3> 
					<table id="genomeinfo_table">
						<colgroup><col width="40%">	<col width="60%"></colgroup>
						<!-- <tr>
							<td>Project Name
								<span class="tooltip">&#9432 <span class="tooltiptext">Enter the name of your project.</span></span>
							</td>
							<td>
								<input placeholder="Type a name" type="text" v-model="geninfo['Project Name']">
							</td>
						</tr> -->
						<tr>
							<td>Chromosomes
								<span class="tooltip">&#9432 <span class="tooltiptext">Enter the number of chromosomes.</span></span>
							</td>
							<td>
								<input placeholder="Type an integer" type="text" v-model="genome['Chromosomes']">
							</td>
						</tr>
						<tr>
							<td>Genetic Length
								<span class="tooltip">&#9432 <span class="tooltiptext">Enter the genetic length of chromosomes.</span></span>
							</td>
							<td>
								<input placeholder="Type a double" type="text" v-model="genome['Genetic Length']">
							</td>
						</tr>	
				</table>
			</div>
			<div id="traits_div">
				<h3> Traits</h3>
				<table id="newtraits_table" v-if = "traitsList.length > 0">
					<tr>
						<th>Trait Number
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter the trait number.</span></span>
						</th>
						<th>QTL
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter the number of QTL.</span></span>
						</th>
						<th>Mean
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter the mean.</span></span>
						</th>
						<th>Genetic Variance
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter the genetic variance.</span></span>
						</th>
						<th>GxE Variance
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter the GxE variance.</span></span>
						</th>
						<th>Error Variance
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter the error variance.</span></span>
						</th>
						<th>Plot
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter plot.</span></span>
						</th>
						<th>Dominance
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter dominance.</span></span>
						</th>
						<th>Mean Degree
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter the mean degree.</span></span>
						</th>
						<th>Variance Degree
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter the variance degree.</span></span>
						</th>
						<th>Epistasis
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter epistasis.</span></span>
						</th>
						<th>Relative Value
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter the relative value.</span></span>
						</th>
					</tr>
	
					<tr v-for="(trait, k) in traitsList" :key="k">
						<!-- <td scope="row" class="trashIconContainer">
							<i class="far fa-trash-alt" @click="deleteRow(k, invoice_product)"></i>
						</td> -->
						<td>
							<input placeholder="Type an integer" type="text" v-model="trait['Trait Number']">
						</td>
						<td>
							<input placeholder="Type an integer" type="text" v-model="trait['QTL']">
						</td>
						<td>
							<input placeholder="Type a double" type="text" v-model="trait['Mean']">
						</td>
						<td>
							<input placeholder="Type a double" type="text" v-model="trait['Genetic Variance']">
						</td>
						<td>
							<input placeholder="Type a double" type="text" v-model="trait['GxE Variance']">
						</td>
						<td>
							<input placeholder="Type a double" type="text" v-model="trait['Error Variance']">
						</td>
						<td>
							<input placeholder="Type a double" type="text" v-model="trait['Plot']">
						</td>
						<td>
							<input type="checkbox" v-model="trait['Dominance']"> 
						</td>
						<td>
							<input placeholder="Type a double" type="text" v-model="trait['Mean Degree']">
						</td>
						<td>
							<input placeholder="Type a double" type="text" v-model="trait['Variance Degree']">
						</td>
						<td>
							<input type="checkbox" v-model="trait['Epistasis']"> 
						</td>
						<td>
							<input placeholder="Type a double" type="text" v-model="trait['Relative Value']">
						</td>
						<!-- 
						<td>
							<input class="form-control" type="text" v-model="invoice_product.product_no" />
						</td>
						<td>
							<input class="form-control" type="text" v-model="invoice_product.product_name" />
						</td>
						<td>
							<input class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.product_price" @change="calculateLineTotal(invoice_product)"
							/>
						</td>
						<td>
							<input class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.product_qty" @change="calculateLineTotal(invoice_product)"
							/>
						</td>
						<td>
							<input readonly class="form-control text-right" type="number" min="0" step=".01" v-model="invoice_product.line_total" />
						</td> -->

					</tr>

				</table>
				<button @click="addNewTrait"> Add Trait </button>
			</div>

			<div id="index_div">
				<h3> Selection Index </h3> 
				<table id="index_table">
					<colgroup><col width="40%">	<col width="60%"></colgroup>
					<tr>
						<td>Index
							<span class="tooltip">&#9432 <span class="tooltiptext">Select to use index.</span></span>
						</td>
						<td>
							<input placeholder="Select for index" type="checkbox" v-model="indexList['Index']">
						</td>
					</tr> 
					<tr v-if = "indexList['Index']">
						<td>Trait Weights
							<span class="tooltip">&#9432 <span class="tooltiptext">Enter the weight.</span></span>
						</td>
						<td>
							<input placeholder="Type a double" type="text" v-model="indexList['Trait Weight']">
						</td>
					</tr> 
					<tr v-if = "indexList['Index']">
						<td>
							<label> Seasons per year </label>
						</td>
						<td>
						<select v-model="indexList['Seasons']">
							<option value="1seasons">1</option>
							<option value="2seasons">2</option>
							<option value="3seasons">3</option>
							<option value="4seasons">4</option>
						</select>
						</td>
					</tr>
				</table>
				<button @click="createNewIndex()"> Add Index </button>
			</div>

			<div id="Breeding_Scheme">

				<h3> {{ asr_network_title }} </h3> 

				<div id="mynetwork_container" >
					<div id="mynetwork_label"> <!-- Parse Legends for nodes and edges-->
						<h4>Legends</h4><br>
						Nodes:
						<h5 v-for="key in Object.keys(node_colors)" v-bind:style="{color: node_colors[key], fontFamily: 'Calibri', fontSize: 16 + 'px', fontWeight: 'bold'}"> &#9645;  {{key}}</h5>
					<br>
						Edges:<br>
						<p v-for="key in Object.keys(edge_colors)" v-bind:style="{color: edge_colors[key], fontFamily: 'Calibri', fontSize: 16 + 'px', fontWeight: 'bold'}"> &#8599;  {{key}}</p>

					</div>
					<div id="mynetwork"></div>
				</div>
			</div>

			<div id="node-popUp" onclick="checkEverything(this.id)">
				<div id="node-popUpheader"> 
					<h3> {{node_operation}} {{ active_node.id }} </h3> 
				</div> 
				<br>
				<table style="margin:auto; width:100%">
					<colgroup>
						<col width="40%">
						<col width="60%">
					</colgroup>
					<tr>
						<td>Name
							<span class="tooltip">&#9432 <span class="tooltiptext">Name of the node. Please avoid names with : or _ . In particular avoid trailing numbers like ABC_1. Repeated nodes will use this syntax!</span></span>
						</td><td><input type="text" placeholder="Type a name" v-model="active_node.id" ></td>
					</tr>
					<tr>
						<td>Type
							<span class="tooltip">&#9432 <span class="tooltiptext">Type of node</span></span>
						</td>
						<td> 
							<select v-model="active_node.Type">
								<option v-for="option in node_types" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Number of entries
							<span class="tooltip">&#9432 <span class="tooltiptext">Number of entries</span></span>
						</td>
						<td><input type="text" placeholder="Type integer" id="individuals" list="indVar" v-model="active_node.individualsVar" onchange="updateIndividuals(value)">
							<datalist id="indVar">
								<option v-for="ivar in individualsVar_options" v-bind:value="ivar.name">
							</datalist>
						</td>	
					</tr>
					<tr v-show="active_node.Type == 'Yield trial'">
						<td>Number of locations
							<span class="tooltip">&#9432 <span class="tooltiptext">Number of locations</span></span>
						</td>
						<td><input type="text" placeholder="Type integer" id="locations" list="locVar" v-model="active_node.locationsVar" onchange="updateLocations(value)">
<!-- 							<datalist id="locVar">
								<option v-for="lvar in locationsVar_options" v-bind:value="lvar.name">
							</datalist> -->
						</td>	
					</tr>
					<tr v-show="active_node.Type == 'Yield trial'">
						<td>Number of replications
							<span class="tooltip">&#9432 <span class="tooltiptext">Number of replications</span></span>
						</td>
						<td><input type="text" placeholder="Type integer" id="replications" list="repVar" v-model="active_node.replicationsVar" onchange="updateReplications(value)">
<!-- 							<datalist id="repVar">
								<option v-for="rvar in replicationsVar_options" v-bind:value="rvar.name">
							</datalist> -->
						</td>	
					</tr>
					<tr>
						<td>Seasons
							<span class="tooltip">&#9432 <span class="tooltiptext">Seasons</span></span>
						</td>
						<td><input type="text" placeholder="Type integer" id="seasons" list="seaVar" v-model="active_node.seasonsVar" onchange="updateSeasons(value)">
<!-- 							<datalist id="seaVar">
								<option v-for="svar in seasonsVar_options" v-bind:value="svar.name">
							</datalist> -->
						</td>	
					</tr>
				</table>
				<br>
				<input class='button_type' type="button" value="Save" id="node-saveButton" />
				<input class='button_type' type="button" value="Cancel" id="node-cancelButton" />
			</div> <!-- ENDOF node-popUp div-->


			<div id="edge-popUp" onclick="checkEverything(this.id)">
				
				<div id="edge-popUpheader"> 
					<h3> {{edge_operation}} {{ active_edge.id }}</h3>
				</div>
				
				<table style="margin:auto; width: 100%;">
					<colgroup>
						<col width="40%">
						<col width="60%">
					</colgroup>
					<br>
					<tr>
						<td>Breeding Type
							<span class="tooltip">&#9432 <span class="tooltiptext">Selected the breeding action you want to use to generate new cohorts and/or link them. </span></span>
						</td>
						<td> 
							<select v-model="active_edge['Breeding Type']">
								<option v-for="option in Breedingtype_options" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>
					</tr>
					<tr v-if="active_edge['Breeding Type'] == 'Crossing'">
						<td>Number of crosses
							<span class="tooltip">&#9432 <span class="tooltiptext">Provide an integer for the number of crosses.</span></span>
						</td>
						<td><input type="text" placeholder="Type integer" id="crosses" list="croVar" v-model="active_edge.crossesVar" onchange="updateCrosses(value)">
<!-- 							<datalist id="croVar">
								<option v-for="cvar in crossesVar_options" v-bind:value="cvar.name">
							</datalist> -->
						</td>	
					</tr>	
					<tr v-if="active_edge['Breeding Type'] == 'Crossing'">
						<td>Number of progeny per cross
							<span class="tooltip">&#9432 <span class="tooltiptext">Provide an integer of the number of progeny per cross.</span></span>
						</td>
						<td><input type="text" placeholder="Type integer" id="progeny" list="proVar" v-model="active_edge.progenyVar" onchange="updateProgeny(value)">
<!-- 							<datalist id="proVar">
								<option v-for="pvar in progenyVar_options" v-bind:value="pvar.name">
							</datalist> -->
						</td>	
					</tr>	
					<tr v-if="active_edge['Breeding Type'] == 'Selection'">
						<td>Unit
							<span class="tooltip">&#9432 <span class="tooltiptext">Choose selection unit from list.</span></span>
						</td>
						<td>
							<select v-model="active_edge.Unit">
								<option v-for="option in selectionUnit_options" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>	
					</tr>	
					<tr v-if="active_edge['Breeding Type'] == 'Selection'">
						<td>Criteria
							<span class="tooltip">&#9432 <span class="tooltiptext">Choose selection criteria from list.</span></span>
						</td>
						<td>
							<select v-model="active_edge.Criteria">
								<option v-for="option in selectionCriteria_options" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>	
					</tr>	
					<tr v-if="active_edge['Breeding Type'] == 'Selection'">
						<td>Trait
							<span class="tooltip">&#9432 <span class="tooltiptext">Choose from list.</span></span>
						</td>
						<td>
							<select v-model="active_edge.Trait">
								<option v-for="option in selectionTrait_options" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>	
					</tr>
					<tr v-show="active_edge['Breeding Type'] == 'Selection' & active_edge.Unit == 'Between Family' ">
						<td>Number of Families/Inds
							<span class="tooltip">&#9432 <span class="tooltiptext">Provide integer for the number of families or individuals for between family selection.</span></span>
						</td>
						<td><input type="text" placeholder="Type integer" id="between" list="betVar" v-model="active_edge.betweenVar" onchange="updateBetween(value)">
<!-- 							<datalist id="betVar">
								<option v-for="bvar in betweenVar_options" v-bind:value="bvar.name">
							</datalist> -->
						</td>	
					</tr>
				</table>
				<br>
				<input class='button_type' type="button" value="Save" id="edge-saveButton" />
				<input class='button_type' type="button" value="Cancel" id="edge-cancelButton" />
			</div> <!-- ENDOF edge pop-up-->
			
				<br>
				<br>
				
            <div id="Export_Data_H3">
            <h4> JSON-File Viewer: </h4>
            
                <br>
                <button class="sub_button" id="export_button"  onclick="downloadNetwork()" >Display JSON</button>
                <span class="tooltip">&#9432 <span class="tooltiptext">
                    <p> The current state of the project will be displayed in the Output Area for further inspection and/or editing
                </p> </span></span>
                <button class="sub_button" id="import_button" onclick="importNetwork_fromBox()" >Import JSON data</button>
                <span class="tooltip">&#9432 <span class="tooltiptext">
                    <p> Import JSON-project from the Output Area below
                </p> </span></span>
                <br>
                <br>
                
                <div>
                    <textarea id='OutputArea' style="margin-left:177px; width:750px; height:200px;"></textarea>
                </div>
                <br>
            </div>



		</div> <!-- ENDOF main-->
	</div> <!-- ENDOF mainDiv-->
	</body>
		
	
	<!-- Eigene Javascripte Main Code -->
	<script type="text/javascript" src="javascript/home_asr.js"></script>

	<!-- Eigene Javascripte Checking and additional Services -->
	<script type="text/javascript" src="javascript/Check_Services_asr.js"></script>

	<!-- Node and Edge PopUp draggable -->
	<script type="text/javascript" src="javascript/node_edge_draggable.js"></script>
	
	<!-- Navigation Menu related -->
	<script type="text/javascript">

				
		function action(hidden) {
	        if(hidden==true) {
	            document.getElementById('node-saveButton').style.visibility = 'hidden';
				document.getElementById('edge-saveButton').style.visibility = 'hidden';
	        } else {
	            document.getElementById('node-saveButton').style.visibility = 'visible';
				document.getElementById('edge-saveButton').style.visibility = 'visible';
	        }
	    }

		var acc = document.getElementsByClassName("accordion");
		var z;
		
		for (z = 0; z < acc.length; z++) {
		  acc[z].addEventListener("click", function() {
		    this.classList.toggle("active");
		    var panel = this.nextElementSibling;
		    if (panel.style.maxHeight) {
		      panel.style.maxHeight = null;
		    } else {
		      panel.style.maxHeight = panel.scrollHeight + "px";
		    } 
		  });
		}

		function isTrait_dragdrop(isDragDrop) {
			if(isDragDrop==true) {
				document.getElementById("save_matrix").style.display = "none";
		        } else {
				document.getElementById("save_matrix").style.display = "block";
		        }
		    }


		function showCorrDiv(val) {
		if (val==true) {
		    document.getElementById("corrDiv").style.display = "none";
		  } else {
		    document.getElementById("corrDiv").style.display = "block";
		  }
		}
		
		function textAreaAdjust(o) 
		    {
		        o.style.height = "1px";
		        o.style.height = (25+o.scrollHeight)+"px";
		    }

	</script>		

</html>

