<!DOCTYPE html>
<html lang="en" >
	<meta charset="utf-8"/>
	
	<script type="text/javascript">
		var isBrowserSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
		console.log(isBrowserSafari);
	</script>
		
	<head>
		<title>Draw ASR Network</title>
		<!-- Javascripte Online -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<script src="https://unpkg.com/mathjs@5.8.0/dist/math.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
		
		<script src="https://unpkg.com/vue-slider"></script>
			
		<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">
		
		<!-- for plotting graphs: -->
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

		<script type="text/javascript" src="https://visjs.github.io/vis-network/dist/vis-network.min.js" ></script>
		<script type="text/javascript" src="https://unpkg.com/alea@1.0.0/alea.js"></script>
		<script type="text/javascript" src="https://visjs.github.io/vis-network/examples/network/exampleUtil.js"></script>
		<link src="https://visjs.github.io/vis-network/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />

		<link rel="stylesheet" type="text/css" href="styles/mobps.css">
	
		<!--  for javascript and ajax call -->		
		<script type="text/javascript" src="javascript/jQ1.js"></script>
		<script type="text/javascript" src="javascript/jQ2.js"></script>
		<script type="text/javascript" src="javascript/jQ2_2.js"></script>
		<script type="text/javascript" src="javascript/jQ3.js"></script>
		
		<!-- excel to json related files -->
		<script lang="javascript" src="javascript/jszip_excelToArray.js"></script>
		<script lang="javascript" src="javascript/xlsx_excelToArray.js"></script>
		<script lang="javascript" src="javascript/excelToArray.js"></script>


	</head>

	<body onload="init();">

		
		
	<div id='mainDiv'>
		<h2> AlphaSimR Simulation Designer </h2> 
		
		<div id="main">
			<div id="Breeding_Scheme">

				<h3> Draw Network </h3> 
					
					<button class="accordion"> Click here to read the guildelines for Breeding Scheme: </button>
					<div class="guideline">
						<p class="guidelines"> 
							--Draw your breeding scheme in the following interactive environment.  <br>
							--Add a Node : Click Edit -> Add Node  -> Click in an empty space to place a new node.  <br>
							--Edit a Node : Select a Node from the diagram -> Click Edit Node <br>
							--Drag a Node : Add/Edit a Node or Edge -> Use grey area to drag the Node/Edge display box. <br>
							--Double-Click a Node/Edge : Display-only box appears for a node or edge. Need to click Edit Node to edit the node/edge.<br>
							--Copy Node : Select a Node -> Right Click.
						</p>									
					</div> 
				
				<br>

				<div id="mynetwork_container" >
					<div id="mynetwork_label"> <!-- Parse Legends for nodes and edges-->
						<h4>Legends</h4><br>
						Nodes:
						<h5 v-for="key in Object.keys(node_colors)" v-bind:style="{color: node_colors[key], fontFamily: 'Calibri', fontSize: 16 + 'px', fontWeight: 'bold'}"> &#9645;  {{key}}</h5>
					<br>
						Edges:<br>
						<p v-for="key in Object.keys(edge_colors)" v-bind:style="{color: edge_colors[key], fontFamily: 'Calibri', fontSize: 16 + 'px', fontWeight: 'bold'}"> &#8599;  {{key}}</p>

					</div>
					<div id="mynetwork"></div>
				</div>
			</div>

			<div id="node-popUp" onclick="checkEverything(this.id)">
				<div id="node-popUpheader"> 
					<h3> {{node_operation}} {{ active_node.id }} </h3> 
				</div> 
				<br>
				<table style="margin:auto; width:100%">
					<colgroup>
						<col width="40%">
						<col width="60%">
					</colgroup>
					<tr>
						<td>Name
							<span class="tooltip">&#9432 <span class="tooltiptext">Name of the cohort. Please avoid names with : or _ . In particular avoid trailing numbers like ABC_1. Repeated nodes will use this syntax!</span></span>
						</td><td><input type="text" placeholder="Type a name" v-model="active_node.id" ></td>
					</tr>
					<tr>
						<td>Number of individuals
							<span class="tooltip">&#9432 <span class="tooltiptext">Number of individuals in this cohort</span></span>
						</td>
						<td><input type="text" placeholder="Type number/Select variable" id="individuals" list="indVar" v-model="active_node.individualsVar" onchange="updateIndividuals(value)">
							<datalist id="indVar">
								<option v-for="ivar in individualsVar_options" v-bind:value="ivar.name">
							</datalist>
						</td>	
					</tr>
					
					<tr>
						<td>Founder
							<span class="tooltip">&#9432 <span class="tooltiptext">Are the individuals in this cohort founders or are they generated?</span></span>
						</td>
						<td> 
							<input type="checkbox" false-value="No" true-value="Yes" v-model="active_node.Founder">
						</td>
					</tr>
					<tr v-show="active_node.Founder == 'Yes'">
						<td> Genotype generation type 
							<span class="tooltip">&#9432 <span class="tooltiptext">How to generate genotypes/haplotypes for founder individuals</span></span>
						</td>
						<td>
							<select v-model="active_node['Genotype generation']">
								<option v-for="option in Genotype_generation_options" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>
					</tr>
					<tr v-show="active_node.Founder == 'Yes' & active_node['Genotype generation'] == 'Upload Genotypes'">
						<td>Upload genotypes (plink/vcf)
							<span class="tooltip">&#9432 <span class="tooltiptext">You can provide a dataset in plink/vcf format. Only used markers that are included in the map. Make sure your dataset is phased or activate phasing via checking Phasing required! </span></span>
						</td>
						<td> 
							<form id='GenoUpload' target="print_popup" action='http://mobps.de/GenoUpload' method='post' encType='multipart/form-data' onsubmit="window.open('about:blank','print_popup','width=1000,height=800'); setGenoPath();">
								<input type='file' name='genoFile' id='genoFile'>
								<input type='submit' value='Upload'>
							</form>
						</td>
					</tr>

					<tr v-show="active_node.Founder == 'Yes' & active_node['Genotype generation'] == 'Upload Genotypes' ">
						<td> Path genotypes </td><td>{{active_node.Path}}</td>
					</tr>	
					<tr v-show="active_node.Founder == 'Yes' & active_node['Genotype generation'] == 'Upload Genotypes' ">
						<td>Phasing required
							<span class="tooltip">&#9432 <span class="tooltiptext">If imputation via BEAGLE 5.0 default will be automatically processed. This is using the MoBPS function pedmap.to.phasebeaglevcf(). It is not supported when running MoBPS on your own system as paths will usally not match! Contact Torsten if interested to use this locally.</span></span>
						</td>
						<td>
							<input type="checkbox" false-value="No" true-value="Yes" v-model="active_node.phasing_required">
						</td>
					</tr>
					<tr v-show="active_node.Founder == 'Yes' & geninfo['advanced'] & geninfo['advanced_sub']">
						<td>Population allele frequencies
							<span class="tooltip">&#9432 <span class="tooltiptext">Pick the originating subpopulation. Allele frequencies for nodes with no genotype data from the same subpopulation will have similar allele frequencies.</span></span>
						</td>
						<td>
							<select v-model="active_node['Genotype generation subpopulation']">
								<option v-for="option in subpopulation['subpopulation_list']" v-bind:value="option.Name">
								{{ option.Name }}
								</option>
							</select>
						</td>
					</tr>					
					<tr>
						<td>Sex
							<span class="tooltip">&#9432 <span class="tooltiptext">Sex of the individuals in this cohort</span></span>
						</td>
						<td> 
							<select v-model="active_node.Sex">
								<option v-for="option in Sex_options" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Phenotyping Class
							<span class="tooltip">&#9432 <span class="tooltiptext">Choose one of the phenotyping classes generated prior. Default is observation of all traits.</span></span>
						</td>
						<td> 
							<select v-model="active_node['Phenotyping Class']">
								<option v-for="option in phenotyping_class" v-bind:value="option.Name">
								{{ option.Name }}
								</option>
							</select>
						</td>
					</tr>
					<tr v-if="geninfo['advanced'] && geninfo['advanced_eco']">
						<td>Housing Cost Class
							<span class="tooltip">&#9432 <span class="tooltiptext">Choose the housing class for the individuals in this cohort</span></span>
						</td>
						<td> 
							<select v-model="active_node['Housing Cost Class']">
								<option v-for="option in economy['Animal Housing Costs']" v-bind:value="option.Name">
								{{ option.Name }}
								</option>
							</select>
						</td>
					</tr>
					<tr v-if="geninfo['advanced'] && geninfo['advanced_advanced'] && geninfo['advanced_advanced_geno']">
						<td>Proportion of genotyped individuals
							<span class="tooltip">&#9432 <span class="tooltiptext">Select the share of genotyped individuals. Mostly relevant for the use of single-step and economic calculations.</span></span>
						</td>
						<td> <input placeholder="Type a number" type="number" max=1 min=0 step=0.001 v-model="active_node['Proportion of genotyped individuals']"> </td>
					</tr>
					
					<tr v-if="geninfo['advanced'] && geninfo['advanced_advanced'] && geninfo['advanced_advanced_del']">
						<td> Delete cohort information
							<span class="tooltip">&#9432 <span class="tooltiptext">Setting this will automatically delete recombination history etc. of the cohort to reduce file size.</span></span>
						</td>
													
						<td> <input type="checkbox" v-model="active_node['delete_info']"> </td>
					</tr>
					<!--tr>
						<td>Include in Plot </td> 
						<td> <input type="checkbox" false-value="No" true-value="Yes" v-model="active_node['BV Plot']"> 
						</td>
					</tr-->	
					<tr v-show="active_node.Sex == 'Both'">
						<td>Proportion of Male</td>
						<td> <input placeholder="Type a number" type="number" max=1 min=0 step=0.001 v-model="active_node['Proportion of Male']"> </td>
					</tr>
				</table>
				<br>
				<input class='button_type' type="button" value="Save" id="node-saveButton" />
				<input class='button_type' type="button" value="Cancel" id="node-cancelButton" />
			</div>
			<div id="edge-popUp" onclick="checkEverything(this.id)">
				
				<div id="edge-popUpheader"> 
					<h3> {{edge_operation}} {{ active_edge.id }}</h3>
				</div>
				
				<table style="margin:auto; width: 100%;">
					<colgroup>
						<col width="40%">
						<col width="60%">
					</colgroup>
					<br>
					<tr>
						<td>Breeding Type
							<span class="tooltip">&#9432 <span class="tooltiptext">Selected the breeding action you want to use to generate new cohorts and/or link them. </span></span>
						</td>
						<td> 
							<select v-model="active_edge['Breeding Type']">
								<option v-for="option in Breedingtype_options" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>
					</tr>
					<tr v-if="active_edge['Breeding Type'] == 'Split' && edge_operation == 'Add Edge'">
						<td>ID of 2.Sub-Group
							<span class="tooltip">&#9432 <span class="tooltiptext">Some breeding action require multiple cohorts</span></span>
						</td>
						<td> 
							<input id="split_input" list="splits" placeholder="Create/Choose ID">
							<datalist id="splits">
								<option v-for="par in nodes.get()" v-if="par.Sex == nodes.get(active_edge.from).Sex & par.id != nodes.get(active_edge.to).id & par.id != nodes.get(active_edge.from).id" v-bind:value="par.id">
							</datalist>
						</td>
					</tr>
					<tr v-if="['Reproduction', 'Cloning', 'Selfing', 'DH-Production','Semen-collection', 'Aging', 'Selection', 'Split','Combine'].indexOf(active_edge['Breeding Type']) >= 0 ">
						<td>Time needed
							<span class="tooltip">&#9432 <span class="tooltiptext">Provide the time this breeding action takes. Reproduction currently needs at least one time unit.</span></span>
						</td>
						<td><input style="width:40px;border:2px solid lightblue;font-size:12pt;height:22px;" id="time_n" list="indVar" onchange="updateVar('Time Needed', value)" placeholder="Type a number" min="0" max="10000" step="1" v-model="active_edge['Time Needed']"> {{geninfo['Time Unit']}}</td>
					</tr>	
					<tr v-show="geninfo['advanced'] && geninfo['advanced_advanced'] & geninfo['advanced_advanced_last']">
						<td>Use last available
							<span class="tooltip">&#9432 <span class="tooltiptext">Activating this will use the last repeat available from that node - not necessary the node from the same repeat</span></span>
						</td>		
						<td><input type="checkbox" v-model="active_edge['last_available']"> </td>
					</tr>
					<tr v-if="['Reproduction', 'Cloning', 'Selfing', 'DH-Production', 'Semen-collection'].indexOf(active_edge['Breeding Type']) >= 0 & geninfo['advanced'] && geninfo['advanced_advanced'] & geninfo['advanced_advanced_ogc']">
						<td>OGC
							<span class="tooltip">&#9432 <span class="tooltiptext">Use optimum genetic contribution according to Meuwissen 1996 to determine how often each individual is used for reproduction.</span></span>
						</td>
						<td><input type="checkbox" false-value="No" true-value="Yes"  v-model="active_edge['OGC']"></td>
					</tr>	
					
					<tr v-if="['Reproduction'].indexOf(active_edge['Breeding Type']) >= 0 & geninfo['advanced'] && geninfo['advanced_advanced'] & geninfo['advanced_advanced_mating']">
						<td>Avoid full-sib matings
							<span class="tooltip">&#9432 <span class="tooltiptext">Activate this to not use full-sibling pairs for reproduction.</span></span>
						</td>
						<td><input type="checkbox" v-model="active_edge['full_sib']"></td>
					</tr>
					
					<tr v-if="['Reproduction'].indexOf(active_edge['Breeding Type']) >= 0 & geninfo['advanced'] && geninfo['advanced_advanced'] & geninfo['advanced_advanced_mating']">
						<td>Avoid half-sib matings
							<span class="tooltip">&#9432 <span class="tooltiptext">Activate this to not use half-sibling pairs for reproduction.</span></span>
						</td>
						<td><input type="checkbox" v-model="active_edge['half_sib']"></td>
					</tr>
					
					<tr v-if="['Reproduction', 'Cloning', 'Selfing', 'DH-Production', 'Semen-collection'].indexOf(active_edge['Breeding Type']) >= 0 && active_edge['OGC']=='Yes'">
						<td>Maximum increase of inbreeding </td>
						<td><input placeholder="Type in the target increase in inbreeding. Use 0 to minimize." v-model="active_edge['ogc_aCa']"></td>
					</tr>	

					<tr v-if="['Reproduction', 'Cloning', 'Selfing', 'DH-Production', 'Semen-collection'].indexOf(active_edge['Breeding Type']) >= 0 & geninfo['advanced'] && geninfo['advanced_advanced'] & geninfo['advanced_advanced_off']">
						<td>Maximal # offspring
							<span class="tooltip">&#9432 <span class="tooltiptext">Maximum number of offspring each individual from the parent node is allowed to have.</span></span>
						</td>
						<td><input placeholder="Type a number or Inf" v-model="active_edge['Max Offspring']"></td>
					</tr>	
					<tr v-if="['Reproduction', 'Cloning', 'Selfing', 'DH-Production', 'Semen-collection'].indexOf(active_edge['Breeding Type']) >= 0 & geninfo['advanced'] && geninfo['advanced_advanced'] & geninfo['advanced_advanced_ratio']">
						<td>Selection ratio
							<span class="tooltip">&#9432 <span class="tooltiptext">Use this if you want to use some individuals more frequently for reproduction. A value of 2 will lead to the individual will the highest genomic value to be used twice as often as the worst individual.</span></span>
						</td>
						<td><input placeholder="Type a number (if nothing enter all individuals are picked equally)" v-model="active_edge['selection_ratio']"></td>
					</tr>	
					<tr v-if="['Reproduction', 'Cloning', 'Selfing', 'DH-Production', 'Semen-collection'].indexOf(active_edge['Breeding Type']) >= 0 & geninfo['advanced'] && geninfo['advanced_advanced'] & geninfo['advanced_advanced_ratio']">
						<td>Selection ratio type
							<span class="tooltip">&#9432 <span class="tooltiptext">Use this if you want to use some individuals more frequently for reproduction. A value of 2 will lead to the individual will the highest genomic value to be used twice as often as the worst individual.</span></span>
						</td>
						<td> 
							<select v-model="active_edge['selection_ratio_type']">
								<option v-for="option in selection_type" v-bind:value="option">
								{{ option}}
								</option>
							</select>
						</td>					</tr>	
					<tr v-if="['Reproduction', 'Cloning', 'Selfing', 'DH-Production', 'Semen-collection'].indexOf(active_edge['Breeding Type']) >= 0 & geninfo['advanced'] && geninfo['advanced_advanced'] && (geninfo['advanced_advanced_ogc'] ||  geninfo['advanced_advanced_ratio'])">
						<td>Index for Selection ratio / OGC
							<span class="tooltip">&#9432 <span class="tooltiptext">Select the index used for the selection ratio or OGC. </span></span>
						</td>
						<td> 
							<select v-model="active_edge['selection_ratio_index']">
								<option v-for="option in selection_index" v-bind:value="option">
								{{ option.Name }}
								</option>
							</select>
						</td>
					</tr>	
					<tr v-if="active_edge['Breeding Type'] == 'Reproduction' && edge_operation == 'Add Edge'">
						<td>ID of 2.parent </td> 
						<td> 
							<input id="parents_input" list="parents" placeholder="Create/Choose ID">
							<datalist id="parents">
								<option v-for="par in nodes.get()" v-if="par.Sex != nodes.get(active_edge.from).Sex & par.id != nodes.get(active_edge.to).id" v-bind:value="par.id">
							</datalist>
						</td>
					</tr>
					<tr v-show="active_edge['Breeding Type'] == 'Repeat'">
						<td>Number of Repeat 
							<span class="tooltip">&#9432 <span class="tooltiptext">Number of times the Repeat is executed. The parent node will be the new input of the child node and everything in between is rerun. Nodes will be named the same + _1, _2, _3 etc.</span></span>
						</td> 
						<td> 
							<input list="indVar" placeholder="Type a number" v-model="active_edge['Number of Repeat']" onchange="updateVar('Number of Repeat', value)">
						</td>
					</tr>
					<!--tr v-show="active_edge['Breeding Type'] == 'Recombination'">
						<td>New Mutation Rate </td> 
						<td> <input onchange="updateVar('New Mutation Rate', value)" placeholder="Type a number" v-model="active_edge['New Mutation Rate']" list="indVar"></td>
					</tr>
					<tr v-show="active_edge['Breeding Type'] == 'Recombination'">
						<td>New Remutation Rate </td> 
						<td> <input onchange="updateVar('New Remutation Rate', value)" placeholder="Type a number" v-model="active_edge['New Remutation Rate']" list="indVar"></td>
					</tr>
					<tr v-show="active_edge['Breeding Type'] == 'Recombination'">
						<td>Number of Recombination per M </td> 
						<td> <input onchange="updateVar('Number of Rec per M', value)" placeholder="Type a number" v-model="active_edge['Number of Rec per M']" list="indVar"></td>
					</tr -->
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 ">
						<td>Selection Type
							<span class="tooltip">&#9432 <span class="tooltiptext">Random: Each individual is taken with same probability, BVE/Pheno selected based on BVE/Phenotypes</span></span>
						</td>
						<td> 
							<select v-model="active_edge['Selection Type']">
								<option v-for="option in selectionType_options" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>
					</tr>
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 && active_edge['Selection Type'] == 'BVE'">
						<td>BVE Method
							<span class="tooltip">&#9432 <span class="tooltiptext">Direct-Mixed-Model assumes known heritability and thereby is fastest. EMMREML/sommer use the respective R-package. Sommer also support multi-variable models but takes much longer! Bayesian models used are using BGLR. MAS is using lm() on randomly sampled effect markers.</span></span>
						</td>
						<td> 
							<select v-model="active_edge['BVE Method']">
								<option v-for="option in BVEMethod_options" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>
					</tr>
					
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 && active_edge['Selection Type'] == 'BVE' & active_edge['BVE Method']=='Marker assisted selection (lm)'">
						<td>Number of markers used for MAS
							<span class="tooltip">&#9432 <span class="tooltiptext">This is a very simple implementation of MAS using a linear model of randomly sampled effect markers</span></span>
						</td>
						<td><input placeholder="Type a number or Inf" v-model="active_edge['MAS_marker']"></td>
					</tr>
					
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 & active_edge['Selection Type']=='Pseudo-BVE'" v-for='(trait, index) in traitsinfo' >
						<td>Accuracy for Trait {{ trait[["Trait Name"]] }} 
							<span class="tooltip">&#9432 <span class="tooltiptext">If nothing is entered here the accuracy will be chosen according to the starting heritability</span></span>
						</td>
						<td>
							<input v-model="active_edge[index]" style="width:80px;"> 
						</td>
					</tr>					
					
					
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 & traitsinfo.length > 1">
						<td>Selection Index
						<span class="tooltip">&#9432 <span class="tooltiptext">Select which index to use for BVE/Phenotypic selection</span></span>
						</td>
						<td> 
							<select v-model="active_edge['Selection Index']">
								<option v-for="option in selection_index" v-bind:value="option.Name">
								{{ option.Name }}
								</option>
							</select>
						</td>
					</tr>						
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0">
						<td>Selection Proportion
							<span class="tooltip">&#9432 <span class="tooltiptext">Selection intensity - the tool will automatically calculate this for you based on the size of the parent/child node.</span></span>
						</td>
						<td>
							<!-- <input list="indVar" onchange="updateVar('Selection Proportion', value)" placeholder="Type a number" min="0" max="1" step="0.001" v-model="selection_proportion"> -->
							{{ selection_proportion }} (calculated based on # Individuals)
						</td>
					</tr>
					
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 & geninfo['advanced'] && geninfo['advanced_advanced'] & geninfo['advanced_advanced_thres']">
						<td>Threshold for selection
							<span class="tooltip">&#9432 <span class="tooltiptext">Calculate reliability of BVE according to vanRaden 2008</span></span>
						</td>		
						<td><input type="value" placeholder="Type a number if wanted" v-model="active_edge['threshold']"></td>
					</tr>
					
					
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 & geninfo['advanced'] && geninfo['advanced_advanced'] & geninfo['advanced_advanced_thres']">
						<td>Threshold sign
							<span class="tooltip">&#9432 <span class="tooltiptext"> Only keep individuals with higher/lower/eval estimated breeding value</span></span>
						</td>		
						<td> 
							<select v-model="active_edge['threshold_sign']">
								<option v-for="option in threshold_options" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>
					</tr>
					
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 && active_edge['Selection Type']=='BVE' & geninfo['advanced'] && geninfo['advanced_advanced'] & geninfo['advanced_advanced_reli']">
						<td>Calculate reliability
							<span class="tooltip">&#9432 <span class="tooltiptext">Calculate reliability of BVE according to vanRaden 2008</span></span>
						</td>		
						<td><input type="checkbox" false-value="No" true-value="Yes" v-model="active_edge['reliability']"> </td>
					</tr>
					
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 && active_edge['Selection Type']=='BVE' & geninfo['advanced'] && geninfo['advanced_advanced'] & geninfo['advanced_advanced_skip']">
						<td> Skip traits with no index weight
							<span class="tooltip">&#9432 <span class="tooltiptext">Activating this will lead to not performing BVE that are not assign with any weight (=0) in the selection index.</span></span>
						</td>		
						<td><input type="checkbox" false-value="No" true-value="Yes" v-model="active_edge['skip']"> </td>
					</tr>
					
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 & geninfo['advanced'] && geninfo['advanced_advanced'] & geninfo['advanced_advanced_pheno']">
						<td>Input Phenotype
							<span class="tooltip">&#9432 <span class="tooltiptext">Use the avg. phenotype of the offspring as the phenotype of the individuals in the parent node. Make sure there are offspring! (use of time needed!)</span></span>
						</td>
						<td>
						<select v-model="active_edge['phenotype_used']">
						
								<option v-for="option in phenotype_options" v-bind:value="option">
								{{ option }}
								</option>
								
							</select>
						</td>
					</tr>
					
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 && active_edge['Selection Type'] == 'BVE'">
						<td>Relationship Matrix
							<span class="tooltip">&#9432 <span class="tooltiptext">According to vanRaden 2008, pedigree-based or singleStep (H based on Legarra 2014)</span></span>
						</td>
						<td> 
							<select v-model="active_edge['Relationship Matrix']">
								<option v-for="option in RelationshipMatrix_options" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>
					</tr>
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 && active_edge['Selection Type'] == 'BVE' && ( active_edge['Relationship Matrix']== 'Single Step'|active_edge['Relationship Matrix']== 'Pedigree')">
						<td>Depth of Pedigree (# generation back)
							<span class="tooltip">&#9432 <span class="tooltiptext">Depth of the pedigree. All individuals before are assumed to be unrelated! If you need something else contact Torsten or use the R-package.</span></span>
						</td> 
						<td> <input type="value" onchange="updateVar('Depth of Pedigree', value)" placeholder="Type a number" v-model="active_edge['Depth of Pedigree']" list="indVar"></td>
					</tr>

					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 && active_edge['Selection Type'] == 'BVE'">
						<td>Cohorts used in BVE
							<span class="tooltip">&#9432 <span class="tooltiptext">Manual select provides you with maximum flexibility to select which individuals to use.</span></span>
						</td>
						<td> 
							<select v-model="active_edge['Cohorts used in BVE']">
								<option v-for="option in Cohorts_options" v-bind:value="option">
								{{ option }}
								</option>
							</select>
						</td>
					</tr>
					<tr v-show="['Selection', 'Split', 'Aging'].indexOf(active_edge['Breeding Type']) >= 0 && active_edge['Selection Type'] == 'BVE' && active_edge['Cohorts used in BVE'] == 'Manual select'">
						<td>Select cohorts for manuel select:
							<span class="tooltip">&#9432 <span class="tooltiptext">Cohorts available for selection are only refresh on reloading or when EDITING an edge. We are working on that.</span></span>
						</td>
				<!--		<td v-if="isCohortNameChanged ===''" >						
							<treeselect :value-consists-of="'LEAF_PRIORITY'" :multiple="true" :options="node_manualselect_options" v-model="active_edge['Manuel selected cohorts']" :searchable="true"/>
						</td>
						<td v-if="isCohortNameChanged ==='Yes'" >	
							<treeselect :value-consists-of="'LEAF_PRIORITY'" :multiple="true" :options="updated_manualselect_options" v-model="active_edge['Manuel selected cohorts']" :searchable="true"/>
						</td> -->
						<td v-if="isCohortNameChanged ==='' && edge_operation === ('Add Edge')" >						
							<treeselect :value-consists-of="'LEAF_PRIORITY'" :multiple="true" :options="allNode_manualselect_options" v-model="active_edge['Manuel selected cohorts']" :searchable="true"/>
						</td>
						<td v-if="isCohortNameChanged ==='' && edge_operation === ('Edit Edge')" >						
							<treeselect :value-consists-of="'LEAF_PRIORITY'" :multiple="true" :options="node_manualselect_options" v-model="active_edge['Manuel selected cohorts']" :searchable="true"/>
						</td>
						<td v-if="isCohortNameChanged ==='Yes'" >	
							<treeselect :value-consists-of="'LEAF_PRIORITY'" :multiple="true" :options="updated_manualselect_options" v-model="active_edge['Manuel selected cohorts']" :searchable="true"/>
						</td>

					</tr>
				</table>
				<br>
				<input class='button_type' type="button" value="Save" id="edge-saveButton" />
				<input class='button_type' type="button" value="Cancel" id="edge-cancelButton" />
			</div> <!-- ENDOF edge pop-up-->
				<br>
				<br>
				
            <div id="Export_Data_H3">
            <h4> JSON-File Viewer: </h4>
            
                <br>
                <button class="sub_button" id="export_button"  onclick="downloadNetwork()" >Display JSON</button>
                <span class="tooltip">&#9432 <span class="tooltiptext">
                    <p> The current state of the project will be displayed in the Output Area for further inspection and/or editing
                </p> </span></span>
                <button class="sub_button" id="import_button" onclick="importNetwork_fromBox()" >Import JSON data</button>
                <span class="tooltip">&#9432 <span class="tooltiptext">
                    <p> Import JSON-project from the Output Area below
                </p> </span></span>
                <br>
                <br>
                
                <div>
                    <textarea id='OutputArea' style="margin-left:177px; width:750px; height:200px;"></textarea>
                </div>
                <br>
            </div>



		</div> <!-- ENDOF main-->
	</div> <!-- ENDOF mainDiv-->
	</body>
		
	<!-- Eigene Javascripte Species Data -->
	<script type="text/javascript" src="javascript/GenomeData.js"></script>
	
	<!-- Eigene Javascripte Main Code -->
	<script src="javascript/socket.io.js"></script>
	<script type="text/javascript" src="javascript/home.js"></script>
	<script type="text/javascript" src="javascript/Rmodule.js"></script>
	
	
	<!-- Eigene Javascripte Checking and additional Services -->
	<script type="text/javascript" src="javascript/Check_Services.js"></script>

	<!-- Node and Edge PopUp draggable -->
	<script type="text/javascript" src="javascript/node_edge_draggable.js"></script>
	
	<!-- Navigation Menu related -->
	<script type="text/javascript">
		function openNav() {
		  document.getElementById("mySidebar").style.width = "225px";
		  document.getElementById("main").style.marginLeft = "225px";
		 // document.getElementById("openDiv").style.display = "none";
		  document.getElementById('openB').style.visibility = 'hidden';
		  document.getElementById('closeB').style.visibility = 'visible';

		}
		
		function closeNav() {
		  document.getElementById("mySidebar").style.width = "0";
		  document.getElementById("main").style.marginLeft= "0";
		 // document.getElementById("openDiv").style.display = "block";
		  document.getElementById('openB').style.visibility = 'visible';
		  document.getElementById('closeB').style.visibility = 'hidden';
		}
				
	function action(hidden) {
	        if(hidden==true) {
	            document.getElementById('node-saveButton').style.visibility = 'hidden';
				document.getElementById('edge-saveButton').style.visibility = 'hidden';
	        } else {
	            document.getElementById('node-saveButton').style.visibility = 'visible';
				document.getElementById('edge-saveButton').style.visibility = 'visible';
	        }
	    }

		var acc = document.getElementsByClassName("accordion");
		var z;
		
		for (z = 0; z < acc.length; z++) {
		  acc[z].addEventListener("click", function() {
		    this.classList.toggle("active");
		    var panel = this.nextElementSibling;
		    if (panel.style.maxHeight) {
		      panel.style.maxHeight = null;
		    } else {
		      panel.style.maxHeight = panel.scrollHeight + "px";
		    } 
		  });
		}

		function isTrait_dragdrop(isDragDrop) {
			if(isDragDrop==true) {
				document.getElementById("save_matrix").style.display = "none";
		        } else {
				document.getElementById("save_matrix").style.display = "block";
		        }
		    }


		function showCorrDiv(val) {
		if (val==true) {
		    document.getElementById("corrDiv").style.display = "none";
		  } else {
		    document.getElementById("corrDiv").style.display = "block";
		  }
		}
		
		function textAreaAdjust(o) 
		    {
		        o.style.height = "1px";
		        o.style.height = (25+o.scrollHeight)+"px";
		    }
			


	</script>		

</html>

